footer-info {
  margin-top: auto;
}

.footer-info {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

.footer-info .docs {
  display: flex;
  gap: 16px;
  align-items: center;
  opacity: 0.5;
}

.footer-info a {
  color: #90AEFF;
  font-family: Ubuntu-Regular, serif;
  font-size: 16px;
  line-height: 18px;
}
